<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <!-- <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/static/assets/brand/coreui-base-white.svg" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="/static/assets/brand/coreui-signet-white.svg" width="118" height="46" alt="CoreUI Logo"></div> -->
  <div class="c-sidebar-brand">
    <h2>Les Belettes de Brill</h2>
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'indexadmin'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-line"></use>
      </svg> Supervision</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'home'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
      </svg> Accueil</a></li>
    <li class="c-sidebar-nav-title">Joueurs</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'players'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
      </svg> Joueurs</a></li>       
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'characters'  %}">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-wc"></use>
        </svg> Personnages</a> </li>
    <li class="c-sidebar-nav-title">Evenements</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'raids'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-gamepad"></use>
      </svg> Raids</a></li>
    <li class="c-sidebar-nav-title">Loot</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'loots'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cart"></use>
      </svg> Loots</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'loots'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bank"></use>
      </svg> Banque <span class="badge badge-info">WIP</span></a></li>
    <li class="c-sidebar-nav-title">EPGP</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'sessionloot'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-gift"></use>
      </svg> Session Loot</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'giveraid'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-badge"></use>
      </svg> Récompense Raid</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'standby'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-couch"></use>
      </svg> Récompense Bench</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'decay'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chevron-double-down"></use>
      </svg> Decay</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'dock'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-ban"></use>
      </svg> Pénalité</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'giveep'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-birthday-cake"></use>
      </svg> Bonus EP</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'ranking'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-numbered"></use>
      </svg> Ranking EPGP</a> </li> 
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'epgp'  %}">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
      </svg> Logs EPGP</a> </li>
  {% if debug %}
    <li class="c-sidebar-nav-title">Theme</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-colors.html">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-drop1"></use>
        </svg> Colors</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-typography.html">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
        </svg> Typography</a></li>
    <li class="c-sidebar-nav-title">Components</li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle"
        href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
        </svg> Base</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-breadcrumb.html"><span
              class="c-sidebar-nav-icon"></span> Breadcrumb</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-cards.html"><span
              class="c-sidebar-nav-icon"></span> Cards</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-carousel.html"><span
              class="c-sidebar-nav-icon"></span> Carousel</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-collapse.html"><span
              class="c-sidebar-nav-icon"></span> Collapse</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-forms.html"><span
              class="c-sidebar-nav-icon"></span> Forms</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-jumbotron.html"><span
              class="c-sidebar-nav-icon"></span> Jumbotron</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-list-group.html"><span
              class="c-sidebar-nav-icon"></span> List group</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-navs.html"><span
              class="c-sidebar-nav-icon"></span> Navs</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-pagination.html"><span
              class="c-sidebar-nav-icon"></span> Pagination</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-popovers.html"><span
              class="c-sidebar-nav-icon"></span> Popovers</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-progress.html"><span
              class="c-sidebar-nav-icon"></span> Progress</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-scrollspy.html"><span
              class="c-sidebar-nav-icon"></span> Scrollspy</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-switches.html"><span
              class="c-sidebar-nav-icon"></span> Switches</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-tables.html"><span
              class="c-sidebar-nav-icon"></span> Tables</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-tabs.html"><span
              class="c-sidebar-nav-icon"></span> Tabs</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-tooltips.html"><span
              class="c-sidebar-nav-icon"></span> Tooltips</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle"
        href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
        </svg> Buttons</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-regular.html"><span
              class="c-sidebar-nav-icon"></span> Buttons</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-group.html"><span
              class="c-sidebar-nav-icon"></span> Buttons Group</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-dropdowns.html"><span
              class="c-sidebar-nav-icon"></span> Dropdowns</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
              class="c-sidebar-nav-icon"></span> Brand Buttons</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
        </svg> Icons</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-coreui-free.html"> CoreUI Icons<span
              class="badge badge-success">Free</span></a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-coreui-brand.html"> CoreUI Icons -
            Brand</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-coreui-flag.html"> CoreUI Icons -
            Flag</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle"
        href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
        </svg> Notifications</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notifications-alerts.html"><span
              class="c-sidebar-nav-icon"></span> Alerts</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notifications-badge.html"><span
              class="c-sidebar-nav-icon"></span> Badge</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notifications-modals.html"><span
              class="c-sidebar-nav-icon"></span> Modals</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-widgets.html">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
        </svg> Widgets<span class="badge badge-info">NEW</span></a></li>

    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-charts.html">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
        </svg> Charts</a></li>

    <li class="c-sidebar-nav-divider"></li>
    <li class="c-sidebar-nav-title">Extras</li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle"
        href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
        </svg> Pages</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/error-404.html" target="_top">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
            </svg> Error 404</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/error-500.html" target="_top">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
            </svg> Error 500</a></li>
      </ul>
    </li>
  {% endif %}
  </ul>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>

